@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: "RadioGrotesk";
  src: url("./assets/fonts/RadioGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "RadioGrotesk";
  src: url("./assets/fonts/RadioGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "OverpassMono";
  src: url("./assets/fonts/OverpassMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "RadioGrotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "OverpassMono", ui-monospace, system-ui;
  --color-brand-gray: #edefee;
  --color-brand-blue-dark: #000030;
  --color-custom-gray: #d6d6d6;
  --color-custom-lightgray: #f3f3f3;
  --color-custom-shadow: #00000031;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-out {
  animation: fadeOut 0.4s ease forwards;
}

.leaflet-container {
  z-index: 1;
}
